# To create a token go to Github.com and go to 
# Settings->Developer settings->Personal access tokens
GithubToken="<your token here>"

# Name of the GitHub organization the repositories will be under
GithubOrg="<your org here>"

# To learn how to obtain a user ID visit: https://theory.stanford.edu/~aiken/moss/
MossUserID="<your user id here>"

# Path to CSV file that contains the github usernames of the students
StudentsCSV="roster.csv"

# Name of the assignment (the script appends the students github username to this string)
# Maybe a better name for the variable would be repository prefix
AssignmentName="<assignment name>"

# The names of all the files that should be run through Moss
# delimited by a semi-colon followed by a space "; "
Files="Program.cs"

# The paths (excluding the filename) to each of the files named above
# NOTE: there must be a one-to-one correspondance with a path to the files above,
# if there is no path simply place a semi-colon followed by a space "; "
FilePaths="Lab2/Lab2"